<!-- Page Wrapper -->
<div id="wrapper">

  <app-navbar></app-navbar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">


      <app-navbartop></app-navbartop>








      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">AJOUTER EMPLOYE</h6>
          </div>
          <div class="card-body">
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <a>Nom : </a>

                  <input type="text" formControlName="nom" id="nom" placeholder="Nom de famille"  class="form-control " >
                </div>
                <div class="col-sm-4">
                  <a>Prenom : </a>
                  <input type="text" formControlName="prenom" id="prenom" placeholder="Prénom"  class="form-control " >
                </div>


              </div>

              <div class="form-group row">

                <div class="col-sm-4 mb-3 mb-sm-0">
                  <a>Email</a>
                  <input type="text" formControlName="email" id="email" placeholder="Email"  class="form-control" >

                </div>



                <div class="col-sm-4">
                  <a>Mot de passe</a>
                  <div class="input-group">

                    <input        formControlName="password" id="password"      type="{{ showPassword ? 'text' : 'password' }}" class="form-control"  placeholder="Password">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                        <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-group row">
              </div>
              <div class="form-group row">
              </div>
              <div class="form-group row">
                <div class="col-sm-0 mb-3 mb-sm-0">
                </div>
                <div class="col-sm-5 mb-3 mb-sm-0">
                  <button type="submit" class="btn btn-success btn-icon-split ml-2">
                  <span class="icon text-white-50">
                    <i class="fas fa-save"></i>
                  </span>
                    <span class="text">Ajouter</span>
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <!-- Omitted for brevity -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- End of Content Wrapper -->

<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<app-logout></app-logout>
