<!-- Page Wrapper -->
<div id="wrapper">

  <app-navbar></app-navbar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

    <app-navbartop></app-navbartop>











      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">ADD ADHERENT</h6>
          </div>
          <div class="card-body">
            <form [formGroup]="adherentForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                  <a>Nom : </a>

                  <input type="text" class="form-control" formControlName="nomFamille" placeholder="Nom de famille" required>
                </div>
                <div class="col-sm-3">
                  <a>Prenom : </a>
                  <input type="text" class="form-control" formControlName="prenom" placeholder="Prénom" required>
                </div>
                <div class="col-sm-2 mb-3 mb-sm-0">
                  <a>Date Naissance : </a>

                  <input type="date" class="form-control" formControlName="dateNaissance" placeholder="Date de naissance" required>
                </div>
                <div class="col-sm-2">
                  <a>Lieu : </a>

                  <input type="text" class="form-control" formControlName="lieux" placeholder="Lieu" required>
                </div>

                <div class="col-sm-2 mb-3 mb-sm-0">
                  <a>Sexe : </a>

                  <select class="form-control" formControlName="sexe" required>
                    <option [ngValue]="'homme'">Homme</option>
                    <option [ngValue]="'femme'">Femme</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">



                <div class="col-sm-8 mb-3 mb-sm-0">
                  <a>Situation Familiale :</a>
                  <div class="col-sm-12">

                    <label class="radio-inline col-sm-2">
                      <input type="radio" formControlName="situationFamilliale"  name="situationFamilliale" value="Célibataire" checked> Célibataire
                    </label>
                    <label class="radio-inline col-sm-2">
                      <input type="radio" formControlName="situationFamilliale" name="situationFamilliale" value="Marié(e)"> Marié(e)
                    </label>
                    <label class="radio-inline col-sm-2">
                      <input type="radio" formControlName="situationFamilliale" name="situationFamilliale" value="Divorcé(e)"> Divorcé(e)
                    </label>
                    <label class="radio-inline col-sm-2">
                      <input type="radio" formControlName="situationFamilliale" name="situationFamilliale" value="Veuf/Veuve"> Veuf/Veuve
                    </label>
                  </div>
                </div>
              </div>
              <!-- Repeat similar structure for other form controls -->
              <!-- Example: -->
              <div class="form-group row">

              </div>
              <!-- Add form controls for the remaining attributes -->
              <div class="form-group row">


              </div>
              <div class="form-group row">
              <div class="col-sm-4">
                <a>Date D'adhésion à l'assurance :</a>
                <input type="date" class="form-control" formControlName="dateAdhhesionAssurance" placeholder="Date adhésion assurance" required>
              </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <a>CIN/Passeport N°</a>
                  <input type="text" class="form-control" formControlName="cin" placeholder="CIN / Passeport" required>
                </div>
                <div class="col-sm-4">
                  <a>Matricule CNAM N°</a>
                  <input type="text" class="form-control" formControlName="matriculeCnam" placeholder="Matricule CNAM" required>
                </div>
              </div>
              <div class="form-group row">

              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <a>Télephone</a>

                  <input type="tel" class="form-control" formControlName="telephone" placeholder="Téléphone" required>
                </div>
                <div class="col-sm-6">
                  <a>Email</a>

                  <input type="text" class="form-control" formControlName="email" placeholder="Email" required>
                </div>

              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <a>RIB</a>

                  <input type="text" class="form-control" formControlName="rib" placeholder="RIB" required>
                </div>
              </div>

              <div class="form-group row">



                <div class="col-sm-4 mb-3 mb-sm-0">
                  <a>Adresse de l'adherent</a>
                  <input type="text" class="form-control" formControlName="adresseAdherent" placeholder="Adresse de l'adhérent" required>
                </div>
                <div class="col-sm-4">
                  <a>Gouvemental</a>

                  <input type="text" class="form-control" formControlName="gouvrement" placeholder="Gouvernement" required>
                </div>
                <div class="col-sm-4">
                  <a>Code postal</a>

                  <input type="text" class="form-control" formControlName="codepostal" placeholder="Code postal" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <a>Prefession</a>
                  <input type="text" class="form-control" formControlName="proffession" placeholder="Profession" required>
                </div>
                <div class="col-sm-4">
                  <a>Lieu </a>
                  <input type="text" class="form-control" formControlName="lieutravail" placeholder="Lieu travail" required>
                </div>
                <div class="col-sm-4">
                  <a>Montant du salaire brut/an de l'adherent</a>
                  <input type="number" class="form-control" formControlName="montanatSalaire" placeholder="Montant salaire" required>
                </div>
              </div>
              <!--
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control" formControlName="taille" placeholder="Taille" required>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" formControlName="poids" placeholder="Poids" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2 mb-3 mb-sm-0">
                  <label><input type="checkbox" formControlName="maladie"> Maladie</label>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <textarea class="form-control" rows="1" formControlName="descriptionMaladies" placeholder="Description des maladies"></textarea>
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" formControlName="maladiesCancereuses"> Maladies Cancéreuses</label>
                </div>
                <div class="col-sm-4">
                  <textarea class="form-control" rows="1" formControlName="descriptionMaladiesCancereuses" placeholder="Description des maladies cancéreuses"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2 mb-3 mb-sm-0">
                  <label><input type="checkbox" formControlName="maladiesPsyciatrique"> Maladies Psychiatriques</label>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <textarea class="form-control" rows="1" formControlName="descriptionMaladiesPsyciatrique" placeholder="Description des maladies psychiatriques"></textarea>
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" formControlName="infirmite"> Infirmité</label>
                </div>
                <div class="col-sm-4">
                  <textarea class="form-control" rows="1" formControlName="descriptionInfirmite" placeholder="Description de l'infirmité"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2 mb-3 mb-sm-0">
                  <label><input type="checkbox" formControlName="operations"> Opérations</label>
                </div>
                <div class="col-sm-2">
                  <input type="date" class="form-control" formControlName="epoqueOperations" placeholder="Époque des opérations">
                </div>
                <div class="col-sm-2 mb-3 mb-sm-0">
                  <textarea class="form-control" rows="2" formControlName="descriptionOperations" placeholder="Description des opérations"></textarea>
                </div>

              </div>

              <div class="form-group row">


                <div class="col-sm-6">
                  <input type="text" class="form-control" formControlName="beneficiaire" placeholder="Bénéficiaire">
                </div>
                <div class="col-sm-6">
                  <textarea class="form-control" rows="3" formControlName="description" placeholder="Description"></textarea>
                </div>
              </div>
              -->
              <!-- Add buttons for reset and submit -->
              <div class="form-group row">
              </div>
              <div class="form-group row">
              </div>
              <div class="form-group row">
                <div class="col-sm-5">
                  </div>

                  <div class="col-sm-6">
                <button type="submit" class="btn btn-success btn-icon-split ml-2">
                  <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                  </span>
                  <span class="text">Save</span>
                </button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>

  </div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<app-logout></app-logout>
